<div class="row responsive-sm">
    <div class="col">
          <div class="list card no-margin-bottom" >
            <div class="item item-divider item-positive">Client Details</div>
            <div class="item item-body">
              <div class="row responsive-sm">
                <div class="col">Client Name: {{peopleArrayValue1.fname}} {{peopleArrayValue1.lname}}</div>
                                <div class="col">Overall Portfolio Value: {{getBalanceTotal(totalSum_Position_Balance) | currency}}</div>
              </div>
              <div class="row responsive-sm">
                <div class="col">Client Phone: {{peopleArrayValue1.phone}}</div>
               
                <div class="col">Available Cash : {{getAvailableCashTotal(totalSum_Cash_Balance) | currency}}</div>
              </div>
              <div class="row responsive-sm">
                <div class="col">Client Address: {{peopleArrayValue1.address}}</div>
                 <div class="col">Client Email: {{peopleArrayValue1.email}}</div>
              </div>
            </div>
          </div>
    </div>
  </div>