<ion-view view-title="Dashboard">
  <ion-content class="padding">
  <div class="row responsive-sm">
    <div class="col"><img src="img/logo.gif" class="logo" /></div>
    <div class="col"><span class="subHead">Financial Advisor -  Portfolio Manager</span></div>
  </div>
  <hr class="lightest"/>
  <div  ng-controller="ClientCtrl">

    <div class="row responsive-sm">
    <div class="col">
   
    <select id="peopleArraySel1" ng-model="peopleArrayValue1" ng-change="changeItem(peopleArrayValue1.client_id)" ng-options="person.fname for person in peopleArray" class="padding full-width">
      <option value="">Please Select Client</option>
    </select>
    </div>
    <div class="col">

      <div class="list list-inset call-section" ng-show="peopleArrayValue1">
        <!--<label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search">
        </label>-->
        Call {{peopleArrayValue1.fname}} :<a class="button icon-left ion-ios7-telephone button-positive button-outline" ng-href="tel: {{peopleArrayValue1.phone}}"><i class="icon ion-ios-telephone-outline"></i> {{peopleArrayValue1.phone}}</a>
      </div>
    </div>
    <div class="col">
      <div class="row no-padding">
        <div class="col no-padding">
           
          <button class="button button-positive pull-right" ng-click="changePath()">
            Preference
          </button>
        </div>
        <div class="col no-padding">
          <a class="button button-positive pull-right" href="#/login">
            Sign Out
          </a>
        </div>
      </div>
    </div>
  </div>
 <link rel="stylesheet" href="css/{{stylePath}}">
  <div ng-show="peopleArrayValue1" >
    <div ng-include="'templates/clientDetails.html'"></div>
    <div class="row responsive-sm">
      <div class="col full-width">
        <div ng-include="'templates/accountGrid.html'"></div>    
	    </div>
    </div>
    <div class="row responsive-sm">
      <div class="col col-50">
        <div ng-include="'templates/basicDetail.html'" class="col"></div>        
      </div>
      <div class="col col-50">
        <div ng-include="'templates/pieChart.html'"></div>
      </div>
    </div>
    </div>
  </div>
    
 
</div>
  </ion-content>
</ion-view>
