<div class="modal-header">
	    <h4>My Info</h4>
	</div>
	<div class="modal-body">
    <span style="font-weight:bold;">Name: </span> <span>{{selectedRow.name}}</span>
    <br/>
    <span style="font-weight:bold;">Gender: </span> <span>{{selectedRow.gender}}</span>
    <br/>
    <span style="font-weight:bold;">Company: </span> <span>{{selectedRow.company}}</span>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-primary btnCustom" ng-click="ok()">OK</button>
	    <button class="btn btn-primary btnCustom" ng-click="cancel()">Cancel</button>
	</div>